
.dashboard-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    background: var(--main-dark-blue);
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        padding: 0.5rem 1rem;
    }
    .user-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;

        label{
            color: white;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}

.dashbaord-body{
    padding: 3rem;
    padding-bottom: 0;
    flex: 9;
}

.search-block{
    padding-left: 5rem;

    .filters{
        background-color: #F9F9F9;
        padding: 2rem;
        margin: 2rem;
        display: flex;
        flex-direction: row;
        row-gap: 3rem;
        column-gap: 10rem;
        flex-wrap: wrap;
        justify-content: center;

        .filter{

            input, select{
                margin-left: 1.5rem;
                width: 170px;
            }
        }
    }

    h1{
        color: var(--main-h1-color);
        font-size: 2.5em;
    }
}

.PatientList-container{
    padding-left: 5rem;

    .list-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button{
            z-index: 1;
            background-color: #2663EE;
        }
    }
    .patient-list{
        height: 400px;
        padding: 2rem;

        .MuiDataGrid-columnHeadersInner div:nth-child(1){
            border-left: unset !important;
        }

        .MuiDataGrid-columnHeader{
            background: var(--main-dark-blue);
            border-left: white solid 4px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            
            .MuiSvgIcon-root{
                fill: white;
            }
        }
    }

    h1{
        color: var(--main-h1-color);
        font-size: 2.5em;
    }
}

.details-container{
    // margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #F5F5F5;
    box-shadow: -6px 8px 48px -5px rgba(0,0,0,0.56);

    h2{
        padding-bottom: 3rem;
        color: var(--main-light-blue);
        width: 100%;
        text-align: center;
        padding: 0;
    }
    label {
        padding-right: 1rem;
    }
    input, select{
        width: 200px;
    }
    .btn-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}

.admin-details{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12rem;

    .field{
        display: flex;
        align-items: center;
        padding-bottom: 2rem;

        .main-label{
            width: 200px;
        }
        .main-input{
            width: 300px;
        }
        .age-label{
            padding-left: 10px;
            font-weight: bold;
        }
    }
    .input-commentaire{
        width: 80%;
        height: 80px;
    }
    .MuiDivider-root{
        height: 540px;
        margin-top: 2rem;
    }
    .surfCorp-label{
        padding-left: 0.5rem;
        color: red;
        font-weight: bold;
    }
}

.bio-details{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;

    input[type=number]{
        width: 60px;
        margin-right: 1rem;
    }
}

.add-prescription-btn{
    width: 40px !important;
    height: 40px !important;
    background-color: #2663EE !important;
}

.planning-btn{
    width: 40px !important;
    height: 40px !important;
    background-color: #2663EE !important;
    margin-left: 1rem !important;

    img{
        width: 25px;
    }
}

//Add Prescription
.modal-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(35, 51, 104, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 690px;
    height: 550px;
    background-color: #fff;
    border-radius: 40px;

    hr{
        padding-top: 2rem;
        width: 470px;
    }
    h1{
        color: #233368;
        padding-top: 2rem;
    }
    .stepper{
        padding-bottom: 1.5rem;
        width: 500px;
    }
    .row{
        display: flex;
        flex-direction: row;
        column-gap: 5rem;
        justify-content: space-between;
        padding-bottom: 1rem;
        align-items: center;

        .field-detail{
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: #2874E5;
        }
    }
    .prescription-details, .prescription-second{
        padding-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        select, input{
            width: 220px;
        }
        input[type=number]{
            width: 200px;
            padding: 0 10px;
        }
        .essai-row{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            column-gap: 1rem;

            button{
                margin-left: 3rem;
            }
        }
    }
    .prescription-second{
        padding-top: 1rem;
    }
    .prescription-third{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 285px;

        .row{
            padding-bottom: 1.5rem;
        }
        .MuiPaper-root{
            max-height: 240px;
        }
    }
    .btn-container .main-btn{
        margin: 1rem;
    }
    .patient-details{
        width: 480px;
    }
    .btn-container{
        padding-top: 1rem;
    }
}
.cure-list-header{
    background-color: var(--main-dark-blue) !important;
    
    tr th{
        color: white !important;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.planning-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    
    .fiche-patient{
        background: #F9F9F9;
        margin-left: auto;
        width: 470px;
        margin-right: -3em;
        margin-top: -3em;

        .addPresBtn{
            background-color: #2663ee;
            position: absolute;
            top: 100px;
            right: 500px;
        }
        .fiche-header{
            background: #D9D9D9;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            
            label{
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                padding-left: 1rem;
                color: #233368;
            }
        }
        .fiche-body{
            padding: 2rem;

            .block{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                row-gap: 1rem;

                .separator{
                    width: 100%;
                    height: 1px;
                    margin: 2rem 0;
                    background-color: #BFBFBF;
                }
                .row{
                    width: 100%;

                    .info-label{
                        font-size: 16px;
                        font-weight: 500;
                        color: #2874E5;
                    }
                }

            }
        }
    }
    .list-container{
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        width: 900px;
    }
    .prescriptions{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        align-items: flex-end;
        padding-bottom: 2rem;
    }

    .block{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1rem;

        img{
            width: 17px;
        }
        .details{
            width: 860px;
            height: 50px;
            border-radius: 5px;
            background: #DCEBFD;
            border: 2px solid #2663EE;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            label{
                text-align: center;
            }
            img{
                padding: 0 1rem;
            }
            .label1{
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
            .label2{
                padding-left: 0.5rem;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .details-product{
            margin-top: 1rem;
            border-left: 1px solid #2874E5
        }
    }
    .child-block{

        .status{
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #2874E5;
            margin-left: auto;
            padding-right: 0.5rem;
        }
        .details{
            width: 812px;
        }
        &.jour-block{
            
            .details{
                width: 760px;
            }
        }
        .removeCureBtn{
            width: 40px;
            height: 40px;
            background-color: #DCEBFD;
            border: 2px solid #2663EE;
            position: absolute;
            left: 1020px;  
        }
    }
    .products-block{
        width: 710px;
        margin-top: -1rem;
        border-left: 2px solid #2874E5
    }
    h1{
        padding-left: 2rem;
        color: var(--main-h1-color);
    }
    .open-icon{
        cursor: pointer;
    }
    .child-block, .products-block{
        display: none;
    }
    .shown{
        display: flex;
    }
}

.prescription-details{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;

    .field-detail{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #2874E5;
    }
    .prescription, .patient, .cure{
        background: #F9F9F9;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 0 1rem 1rem 2rem;

        select, input{
            width: 170px;
        }
        .field-row{
            display: flex;
            flex-direction: row;

            .field{
                flex: 3;

                &.clcr-field{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .cures-list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button{
            width: 200px;
        }
        .cures{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 1rem;
            overflow-x: auto;

            .cure{
                width: 43px;
                height: 43px;
                border-radius: 50px;
                background:#DCEBFD;
                color: #2874E5;
                border: 3px solid #0096DC;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                cursor: pointer;
                transition: 0.3s;
                padding: 0;
                margin: 0;

                &:hover{
                    background:#bfd9f9;
                }
                &.disabled-cure{
                    background:#98b1d0
                }
            }
            .selectedCure{
                background:#a8ccf8;

                &:hover{
                    background:#a8ccf8;
                }
            }
        }
    }
    h1{
        color: var(--main-h1-color);
    }
    .prescription{
        flex: 3;
        .field-row{
            flex-direction: column;
            row-gap: 1rem;
        }
    }
    .cure{
        flex: 2;
        .field-row{
            flex-direction: column;
            row-gap: 1rem;
        }
    }
    .patient{
        flex: 5;
    }
}

.products-container{
    padding: 1rem;

    h1{
        color: var(--main-h1-color);
    }
    td{
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #2874E5 !important;
    }
    .j-column{
        background: #E9E9E9;
        width: 15px;

        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #353535;
    }
    .first-jour-row{
        border-top: 2px solid lightgray;
    }
    .list-header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .save-btn{
            margin-left: 4rem;
            width: 128px;
            height: 27px;
            border-radius: 12px;
        }
        .validate-all-btn{
            margin-left: 4rem;
            width: 230px;
            height: 27px;
            border-radius: 12px;
        }
        .plus-btn{
            z-index: 1;
            background-color: #2663EE;
            margin-left: 1rem;
        }
        .pdf-btn{
            z-index: 1;
            background-color: #2663EE;
            margin-left: auto;
            margin-right: 0;

            img{
                width: 18px;
            }
        }
    }
}
.validationCircle{
    width: 26px;
    height: 26px;
    border-radius: 50px;
    border: 3px solid #EE2626;
    background: #FDDCDC;
    cursor: pointer;
    transition: 0.3s;

    &.valid-medecin{
        background: #DDFDDC;
        border: 3px solid #05E11B;
    }
    &.valid-pharmacien{
        background: #05E11B;
        border: 3px solid #05E11B;
    }
}
.gear-icon, .pres-icon{
    width: 30px;
    cursor: pointer;
}
.x-icon{
    width: 25px;
    cursor: pointer;
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    &.disabled img{
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.commentaire-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    background: #F9F9F9;
    margin-bottom: 1rem;
    align-items: center;
    column-gap: 2rem;

    textarea{
        width: 100%;
        height: 60px;
        font-size: 16px;
    }
    h1{
        color: var(--main-h1-color);
    }
}

.confirmation-modal-box{
    height: 350px;

    label{
        padding: 1rem;
    }
}
.poche-modal-box{
    padding: 0 2rem;
    height: 440px;
    width: 500px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.ajustement-modal{
    padding: 0 2rem;
    height: 800px;
    width: 1000px;

    thead{
        background: #e3e3e3;
    }
    .repartitionTable{
        height: 250px;
    }
    .fractionTable{
        height: 120px;
    }
    .ajustement-header{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: flex-start;
        
        .doses{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 2rem;
        }
    }
}
.date-controls{
    color: rgb(0, 189, 0);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    &.date-controls-disabled{
        color: gray;
    }
}
.planning-tab{
    margin-left: auto !important;
}
.FAB-container{
    display: flex;
    justify-content: center;
    padding: 2rem;

    .fiche{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1000px;
        row-gap: 2rem;

        .fab-bg{
            background-color: rgb(215, 215, 215);
        }
        .row{
            width: 950px;
            padding: 0 2rem;

            label{
                font-size: 18px;
            }
        }
        .fab-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border: black solid 1px;
            width: 100%;
            border-radius: 40px;
        }
        .prod-details{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            height: 60px;
            border-radius: 50px;
        }
        .fields{
            display: flex;
            flex-direction: row;
            column-gap: 1.5rem;
            flex-wrap: wrap;
            align-items: center;
        }
        .patient-details{
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 1rem;

            .patient{
                flex: 7;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                border-radius: 25px;
                justify-content: space-around;

                h2{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
            }
            .admin{
                flex: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                border-radius: 25px;

            }
        }
        .patient-data{
            border-radius: 25px;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .dose-data{
            border-radius: 25px;
            height: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .conc-label{
                font-size: 25px;
            }
            .conc-info{
                font-size: 25px;
                color: var(--main-dark-blue);
                font-weight: bold;
            }
        }
        .prep-data{
            border-radius: 25px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            padding-bottom: 1.5rem;

            .fields{
                width: 100%;
                justify-content: space-around;
            }
        }
        .last-details{
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 1rem;

            .fab{
                flex: 3;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                border-radius: 25px;
                justify-content: space-around;

                h2{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
            }
            .fourF{
                flex: 7 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 1rem;
                border-radius: 25px;
                flex-direction: column;

                .Frow{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
    }
}