
:root{
  --main-dark-blue: #233368;
  --main-light-blue: #0096DC;
  --main-input-color: #2663EE;
  --main-h1-color: #2663EE;
}

html{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.bold{
  font-weight: bold;
}
.icon-24{
  width: 24px !important;
}

.prevent-selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main-btn{
  width: 145px;
  height: 40px;
  border-radius: 12px;
  background-color: #2874E5;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:disabled{
  background-color: #13315d;
}

.main-btn:hover{
  background-color: #1d52a2;
}

.main-input{
  padding: 0 5px;
  height: 40px;
  border-radius: 12px;
  gap: 10px;
  border: 0;
  background-color: #DCEBFD;
  color: var(--main-input-color);
}

.main-input:disabled{
  background-color: #bfcde0;
}

.main-checkbox{
  width: 32px !important;
  height: 34px;
  border-radius: 12px;
  background-color: #DCEBFD;
  color: var(--main-input-color);
}

.main-table .MuiDataGrid-columnHeaders{
  background-color: var(--main-dark-blue)
}

.main-table .MuiDataGrid-columnHeader{
  border-left: white 3px solid;
}

.main-table .MuiDataGrid-columnHeaderTitle{
  color: white;
}

.percentage-input-container, .kg-input-container, .cm-input-container, .m2-input-container,
.umol-input-container{
    display: inline-block;
    position: relative;
}
  
/* position the unit to the right of the wrapper */
.percentage-input-container::after {
  content: '%';
  position: absolute;
  top: 12px;
  right: .5em;
  transition: all .05s ease-in-out;
}

/* move unit more to the left on hover or focus within
    for arrow buttons will appear to the right of number inputs */
.percentage-input-container:hover::after,
.percentage-input-container:focus-within::after {
  right: 1.5em;
}

.kg-input-container::after {
  content: 'kg';
  position: absolute;
  top: 7px;
  right: .5em;
  transition: all .05s ease-in-out;
  color: #2874E5 !important;
}

/* move unit more to the left on hover or focus within
    for arrow buttons will appear to the right of number inputs */
.kg-input-container:hover::after,
.kg-input-container:focus-within::after {
  right: 1.5em;
}

.cm-input-container::after {
  content: 'cm';
  position: absolute;
  top: 7px;
  right: .5em;
  transition: all .05s ease-in-out;
  color: #2874E5 !important;
}

/* move unit more to the left on hover or focus within
    for arrow buttons will appear to the right of number inputs */
.cm-input-container:hover::after,
.cm-input-container:focus-within::after {
  right: 1.5em;
}

.m2-input-container::after {
  content: 'm²';
  position: absolute;
  top: 7px;
  right: .5em;
  transition: all .05s ease-in-out;
  color: #2874E5 !important;
}

/* move unit more to the left on hover or focus within
    for arrow buttons will appear to the right of number inputs */
.m2-input-container:hover::after,
.m2-input-container:focus-within::after {
  right: 1.5em;
}

.umol-input-container::after {
  content: 'µmol/L';
  position: absolute;
  top: 7px;
  right: .5em;
  transition: all .05s ease-in-out;
  color: #2874E5 !important;
}

/* move unit more to the left on hover or focus within
    for arrow buttons will appear to the right of number inputs */
.umol-input-container:hover::after,
.umol-input-container:focus-within::after {
  right: 1.5em;
}

.main-label{
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.red-text{
  color: red;
}